<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/login.js" defer></script> 
  <link rel="stylesheet" href="/css/home/style.css"> 
  <title>login</title>
</head>
<body>
  <form class="login-form">
    <h1>Login</h1>
  <input id="id" class="id-box" type="text" placeholder="ID"><br>
  <input id="password" class="pw-box" type="password" placeholder="PASSWORD"><br>
  <p id="loginBtn" class="login-btn">Login</p>
  <p class="message">Not registered? <a href="/register">Create an account</a></p>
  </form> 
</body>
 </html>