<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/home/register.js" defer></script> 
<link rel="stylesheet" href="/css/home/style.css"> 
<title>Register Page</title>
</head>
<body>
<form class="login-form">
<h1>Register</h1>
<input id="id" class="id-box" type="text" placeholder="ID"><br>
<input id="password" class="pw-box" type="password" placeholder="PASSWORD"><br>
<input id="confirm-password" class="pw-box" type="password" placeholder="CONFIRM PASSWORD"><br>
<input id="first-name" class="name-box" type="text" placeholder="FIRST NAME"><br>
<input id="last-name" class="name-box" type="text" placeholder="LAST NAME"><br>
<input id="email" class="email-box" type="email" placeholder="EMAIL ADDRESS"><br>
<p id="registerBtn" class="register-btn">SIGN UP</p>
<p class="message">Already registered?<a href="/login">Login</a></p>
</form>
</body>
</html>
